*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.pbg{
    background: #f5deb3;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #010101;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}

/* header section */
.header_section {
	background: #f5deb3;
	width: 100%;
}
.header_logo{
    width: 30%;
}
.logo img {
	height: 100px;
	float: left;
	margin-right: 4px;
	filter: drop-shadow(-2px 5px 7px #1c0101);
}
.header_menu{
    width: 56%;
}
.primary_menu ul li{
    display: inline-block;
}
.primary_menu ul li a {
	display: block;
	padding: 0 21px;
	font-size: 22px;
	line-height: 100px;
	color: #fff;
	border-right: 1px solid #fff;
}


/* banner_section */

.banner_section{
    background:url(https://i.ibb.co/9HWDzr0/intro-bg.jpg) no-repeat center center ;
    padding: 250px 0;
    background-size: cover;
}
.banner_text{
    text-align: center;
    color: #3498db;
}
.banner_text h4 {
	font-size: 30px;
	padding-bottom: 30px;
}
.banner_text h1 {
	font-size: 45px;
}

/* about_section Css*/

.about_section{
margin: 100px;
}

.about_img{
    width: 30%;

}
.about_img img{

}
.about_text{
    width: 60%;
    margin-top: 30px;
}
.about_text h2 {
	font-size: 32px;
	font-weight: 600;
}
.about_text h3 {
	padding: 23px 0;
	font-size: 28px;
	font-weight: 600;
}
.about_text p {
	font-size: 14px;
	line-height: 36px;
	font-weight: 500;
}

/* items_section */

.items_section{
padding: 100px 0;
background-color: #fffaf0;
}
.item_blog {
	width: 31%;
	box-sizing: border-box;
	border: 1px dashed;
	margin-right: 2%;
	padding: 36px;
	border-radius: 50px 0;
}
.item_blog span {
	font-size: 30px;
	padding: 15px;
	display: inline-block;
	color: #3498db;
	border: 2px solid #3498db;
	border-radius: 28px 0;
	height: 40px;
	width: 40px;
	font-size: 39px;
	line-height: 40px;
}
.item_blog h1 {
	padding: 30px 0;
}
.item_blog :nth-child(1){
    margin-right: 0;

}
.item_blog :nth-child(3){
    margin-left: 0;
}

/* footer_section */
.footer_section{
    background: #000;
    padding: 20px 0;
    color: #fff;
}
.tooter_bottom_icon a{
    color: #fff;
    padding-right: 10px;
}

/* responsive */

@media only screen and (max-width:540px) {

    body{
      width: 100%;

    }
  }